<div class="container">
    <div class="row animated fadeIn type-reciped">
        <div class="col">
            <!-- ! Radio Button -->
            <h4>Select type reciped</h4>
            <div class="col-xs-12 col-sm-4 example-col">
                <p style="line-height: 2.5em;">
                    <input type="radio" id="r1" name="rg" class="k-radio" disabled />
                    <label class="k-radio-label" for="r1">DMV</label><br />
                    <input type="radio" id="r2" name="rg" class="k-radio" />
                    <label class="k-radio-label" for="r2">Line of business</label><br />
                </p>
            </div>
            <!-- ! Dropdownlist -->
            <div class="col-xs-12 col-sm-6 example-col">
                <kendo-dropdownlist style="width: 350px;" [data]="listItems" [value]="'Basketball'" class="drop-down">
                </kendo-dropdownlist>
            </div>
            <!-- ! Quote Number -->
            <div class="col-xs-12 col-sm-6 example-col">
                <kendo-textbox-container>
                    <p>Quote Number</p>
                    <input kendoTextBox />
                </kendo-textbox-container>
            </div>
            <button type="button" name="" id="" class="at-btn" (click)="routeImportQuote()">Next</button>
        </div>
    </div>
</div>