/* You can add global styles to this file, and also import other style files */
* {
    /*Variables*/
    --sideBar: #2f2e41;
    --fontFocus: #36d29e;
    --fontOn: #b1b1b1;
    --shadow: 0px 0px 23px -16px rgba(0, 0, 0, 0.8);
    --backgroundBet: rgb(224, 224, 224);
    --secondShadow: 4px 4px 10px -8px rgba(0, 0, 0, 0.6);
    --sideShadow: 7px 2px 24px -16px rgba(0, 0, 0, 0.75);
    --sideBar: #2f2e41;
}

/* ! Animate */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

/* * KENDO */

/* ! Tabla */
.k-pager-numbers .k-link:hover,
.k-pager-numbers .k-link.k-state-hover {
    color: var(--fontFocus);
    background-color: #ededed;
}

.k-widget ::selection,
.k-block ::selection,
.k-panel ::selection {
    background-color: var(--fontFocus);
    color: #fff;
}

.k-pager-numbers .k-state-selected {
    color: #fff;
    background-color: var(--fontFocus);
}

/* ! DropdownList */

.k-list .k-item.k-state-selected {
    background: var(--fontFocus);
    color: white;
}
